@charset "utf-8";
@import "E:/tuding/css/layout";
@import "E:/tuding/css/table";
$layout:'h';
$wrapping:96%;
$n1:200px;
$n2:200px;
$space:1px;
$incInner:false;
$v1:160px;
$v2:160px;



//乱码测试
@include tuding($layout,$wrapping,$n1,$n2,$space,$incInner,$v1,$v2);
//@include tuding_by_h_nmn($selectorNMN:'.container',$selectorMING:'.main',$selectorN1:'.sidebar1',$selectorN2:'.sidebar2',$wrapping:NULL,$n1:100px,$n2:100px,$space:20px);
//IE6 || IE7 || IE8
//@include tuding_h_2cols($wrapping,$v1,$v2,-1,$space,1);
//@include tuding_h_2cols($wrapping,$v1,$v2,-1,$space);
//@include tuding_1col('',1);
//@include tuding_1col('',0);

@media screen and (max-width:1100px) {
	//@include tuding_h_2cols($wrapping,$v1,$v2,$space,null,0,2);
	//@include tuding_h_2cols($wrapping,$v1,$v2,$space,'',0,-1);
	//@include tuding_1col('',1);
	//@include tuding_1col('',0);
}

@media screen and (max-width:900px) {
	$wrapping:96%;
	$n1:160px;
	$n2:160px;
	$space:1px;
	@include tuding_h_2cols($wrapping,$n1,$n2,$space,null,0,2);
	//@include tuding_h_2cols($wrapping,$v1,$v2,$space,'',0,-1);
	//@include tuding_1col('',1);
	//@include tuding_1col('',0);
}

@media screen and (max-width:700px) {
	//@include tuding_h_2cols($wrapping,$v1,$v2,$space,null,1,-1);
	//@include tuding_h_2cols($wrapping,$v1,$v2,$space,'',0,-1);
	//@include tuding_1col('',1);
	//@include tuding_1col('',0);
}

@media screen and (max-width:500px) {
	//@include tuding_h_2cols($wrapping,$v1,$v2,$space,null,1,-1);
	//@include tuding_h_2cols($wrapping,$v1,$v2,$space,'',0,-1);
	//@include tuding_1col('',1);
	@include tuding_1col('',0);
}
