@charset "utf-8";
@import "E:/tuding/css/layout";
//@import "E:/tuding/css/table";
$layout:'h';
$wrapping:96%;
$n1:200px;
$n2:200px;
$space:1px;
$incInner:false;
$v1:160px;
$v2:160px;


/* Element Reset */
body, input, textarea, select, table, button { font-family:Tahoma, Geneva, sans-serif; font-size:12px;}
img, fieldset { border:0;}
form, fieldset { margin:0; padding:0;}
em, address { font-style:normal;}
button{ margin:0; padding:0; overflow:visible; cursor:pointer;}
a { text-decoration:none;}
a:hover, a:active, a:focus {text-decoration:underline;}

/* Common Class */
.iText{ border:1px solid #b7b7b7; border-right-color:#e1e1e1; border-bottom-color:#e1e1e1; background:transparent;}
.iCheck, .iRadio{ width:13px; height:13px; margin:0; padding:0; vertical-align:middle;}
.hide{ position:absolute; left:0; top:0; width:1px; height:1px; font-size:0; line-height:0; visibility:hidden;}
@include tuding($layout,$wrapping,$n1,$n2,$space,$incInner,$v1,$v2);
/* ######### ######### ######### Pagination ######### ######### ######### */
.pagenav, .pagination .counter, .pagination ul{@extend %btnArea;}
.pagenavcounter, .pagenav, .pagination ul{margin:1em 0;padding:0;list-style:none;}
.pagenav .pagenav-prev{float:left;}
.pagenav .pagenav-next{float:right;}
.pagination .counter{float:right;}
.pagination ul li{display:inline-block;}
/* ######### ######### ######### Article index ######### ######### ######### */
#article-index { float:right; margin-left:1em; padding:1em 2em;border:1px solid #F2E2A1; background:#FFFCF0; font-size:1em; }/* 深橙色线条，浅橙色背景， 字号*/
#article-index ul { margin-left:0; padding-left:1em; } /* 去除列表左侧重排 */
#article-index ul li { list-style-image:url(../img/li_off.png); } /* 列表项图标 */
#article-index ul li a { font-weight:normal; color:#585858; } /*列表项字号颜色*/
#article-index ul li a.active { font-weight:bold; } /* 列表项当前项高亮 */
/* ######### ######### ######### 注释 ######### ######### ######### */
.categories-list li,.category-list li{overflow:hidden;}
#main ul.actions {
text-align: right;
padding: 0;
width: 100%;
margin: 0;
}
/* ######### ######### ######### BEGIN::Blog Featured ######### ######### ######### */
.items-leading, .items-row, .items-row .item { position:relative; *zoom:1; } /* 每个独立区块的ding */
.items-leading, .items-row:after, .items-row .item:after { content:""; display:block; clear:both; }/* ding:after */
.items-leading { margin-right:10px; } /* blog上部单列项目 */
.items-row{  }
.items-row .item{ float:left; overflow:hidden; }
.items-row.cols-1 .item{ width:100%; }
.items-row.cols-2 .item{ width:50%}
.items-row.cols-3 .item{ width:33.3333%; }
.items-row.cols-4 .item{ width:25%; *width:24.9999%; }
.items-row.cols-5 .item{ width:20%; }
.items-row ul.actions, .items-row dl.article-info{ margin-right:10px; } /* 内部没有外套，只能对每个项目设置右margin */
.items-row .item h2, .items-row .item p{ margin-right:10px; } /* 同上 */
.items-leading p.readmore a, .items-row p.readmore a{ display:inline-block; padding:0.2em 0.3em; border:3px double #CCC; background:url(../../img/bg_input.gif); } /* blog布局readmore，需另外定义module中的readmore */
/* ######### ######### ######### END::Blog Featured ######### ######### ######### */
//@include tuding_by_h_nmn($selectorNMN:'.container',$selectorMING:'.main',$selectorN1:'.sidebar1',$selectorN2:'.sidebar2',$wrapping:NULL,$n1:100px,$n2:100px,$space:20px);
//IE6 || IE7 || IE8
//@include tuding_h_2cols($wrapping,$v1,$v2,-1,$space,1);
//@include tuding_h_2cols($wrapping,$v1,$v2,-1,$space);
//@include tuding_1col('',1);
//@include tuding_1col('',0);

@media screen and (max-width:1100px) {
	//@include tuding_h_2cols($wrapping,$v1,$v2,$space,null,0,2);
	//@include tuding_h_2cols($wrapping,$v1,$v2,$space,'',0,-1);
	//@include tuding_1col('',1);
	//@include tuding_1col('',0);
}

@media screen and (max-width:900px) {
	$wrapping:96%;
	$n1:160px;
	$n2:160px;
	$space:1px;
	@include tuding_h_2cols($wrapping,$n1,$n2,$space,null,0,2);
	//@include tuding_h_2cols($wrapping,$v1,$v2,$space,'',0,-1);
	//@include tuding_1col('',1);
	//@include tuding_1col('',0);
}

@media screen and (max-width:700px) {
	//@include tuding_h_2cols($wrapping,$v1,$v2,$space,null,1,-1);
	//@include tuding_h_2cols($wrapping,$v1,$v2,$space,'',0,-1);
	//@include tuding_1col('',1);
	//@include tuding_1col('',0);
}

@media screen and (max-width:500px) {
	//@include tuding_h_2cols($wrapping,$v1,$v2,$space,null,1,-1);
	//@include tuding_h_2cols($wrapping,$v1,$v2,$space,'',0,-1);
	//@include tuding_1col('',1);
	@include tuding_1col('',0);
	@include tuding_width_1col();
}
