@charset "utf-8";
//编码保持
@import "E:/tuding/css/layout";
@import "E:/tuding/css/table";
@import "E:/tuding/css/blueprint";
@import "E:/tuding/css/emmet";
//@import "./system_site";
/* ######### ######### ######### 注释 ######### ######### ######### */
@import "./general";
.button2-left .article, .button2-left .blank {
	background: url(../images_general/j_button2_blank.png) 100% 0 no-repeat;
}
#editor-xtd-buttons,.toggle-editor {
	padding: 5px;
	float:left;
}
/* Tooltips */
div.tip {
	float: left;
	background: #ffc;
	border: 1px solid #D4D5AA;
	padding: 5px;
	max-width: 200px;
}

div.tip .tip-title {
	padding: 0;
	margin: 0;
	font-size: 95%;
	font-weight: bold;
	margin-top: -15px;
	padding-top: 15px;
	padding-bottom: 5px;
	background: url(../images_general/selector-arrow.png) no-repeat;
}

div.tip .tip-text {
	font-size: 90%;
	margin: 0;
}
/* System Warning Messages */
#system-message dt.warning { display: none; }
#system-message dd.warning {  }
#system-message dd.warning ul { color: #93246F; background: #F2E3ED; border-top: 3px solid #93246F; border-bottom: 3px solid #93246F;}
/* ######### ######### ######### 注释 ######### ######### ######### */
body{@extend .ff_kr;}
/* LoVe/HAte(爱恨原则) */
a{text-decoration:none;color:#369;}
a:link, a:visited, a:hover, a:active{}
a:link{}
a:visited{}
a:hover{text-decoration:underline;}
a:active{}
table.category{
@include table_wang(0.5em,silver);
	th{
		white-space:nowrap;
	}
	#categorylist_header_title, .list-title, .item-num{
		border-left:none;
	}
	.list-title,.item-title{
		width:100%;
	}
	.list-author, .list-hits, .list-edit{
		white-space:nowrap;
	}
}
table.tbl{
	@include table_tian(0.2em,silver);
	border-width:1px;
	tbody tr:nth-child(even) td, tbody tr.even td {background-color:#FDFDFD;}
}



$layout:'h';
$wrapping:88%;
$n1:200px;
$n2:200px;
$space:10px;
$incInner:true;
$v1:160px;
$v2:160px;
@include tuding($layout,$wrapping,$n1,$n2,$space,$incInner,$v1,$v2);
/* ######### ######### ######### Pagination ######### ######### ######### */
.pagenav, .pagination .counter, .pagination ul{@extend %btnArea;}
.pagenavcounter, .pagenav, .pagination ul{margin:1em 0;padding:0;list-style:none;}
.pagenav .pagenav-prev{float:left;}
.pagenav .pagenav-next{float:right;}
.pagination .counter{float:right;}
.pagination ul li{display:inline-block;}
/* ######### ######### ######### Article index ######### ######### ######### */
#article-index { float:right; margin-left:1em; padding:1em 2em;border:1px solid #F2E2A1; background:#FFFCF0; font-size:1em; }/* 深橙色线条，浅橙色背景， 字号*/
#article-index ul { margin-left:0; padding-left:1em; } /* 去除列表左侧重排 */
#article-index ul li { list-style-image:url(../img/li_off.png); } /* 列表项图标 */
#article-index ul li a { font-weight:normal; color:#585858; } /*列表项字号颜色*/
#article-index ul li a.active { font-weight:bold; } /* 列表项当前项高亮 */
/* ######### ######### ######### 注释 ######### ######### ######### */
.categories-list li,.category-list li{overflow:hidden;}
#main ul.actions {
text-align: right;
padding: 0;
width: 100%;
margin: 0;
}
/* ######### ######### ######### BEGIN::Blog Featured ######### ######### ######### */
.items-leading, .items-row, .items-row .item { position:relative; *zoom:1; } /* 每个独立区块的ding */
.items-leading, .items-row:after, .items-row .item:after { content:""; display:block; clear:both; }/* ding:after */
.items-leading { margin-right:10px; } /* blog上部单列项目 */
.items-row{  }
.items-row .item{ float:left; overflow:hidden; }
.items-row.cols-1 .item{ width:100%; }
.items-row.cols-2 .item{ width:50%}
.items-row.cols-3 .item{ width:33.3333%; }
.items-row.cols-4 .item{ width:25%; *width:24.9999%; }
.items-row.cols-5 .item{ width:20%; }
.items-row ul.actions, .items-row dl.article-info{ margin-right:10px; } /* 内部没有外套，只能对每个项目设置右margin */
.items-row .item h2, .items-row .item p{ margin-right:10px; } /* 同上 */
.items-leading p.readmore a, .items-row p.readmore a{ display:inline-block; padding:0.2em 0.3em; border:3px double #CCC; background:url(../../img/bg_input.gif); } /* blog布局readmore，需另外定义module中的readmore */
/* ######### ######### ######### END::Blog Featured ######### ######### ######### */
//@include tuding_by_h_nmn($selectorNMN:'.container',$selectorMING:'.main',$selectorN1:'.sidebar1',$selectorN2:'.sidebar2',$wrapping:NULL,$n1:100px,$n2:100px,$space:20px);
//IE6 || IE7 || IE8
//@include tuding_h_2cols($wrapping,$v1,$v2,-1,$space,1);
//@include tuding_h_2cols($wrapping,$v1,$v2,-1,$space);
//@include tuding_1col('',1);
//@include tuding_1col('',0);
@media screen and (max-width:1100px) {
	//@include tuding_h_2cols($wrapping,$v1,$v2,$space,null,0,2);
	//@include tuding_h_2cols($wrapping,$v1,$v2,$space,'',0,-1);
	//@include tuding_1col('',1);
	//@include tuding_1col('',0);
}

@media screen and (max-width:900px) {
	$wrapping:96%;
	$n1:160px;
	$n2:160px;
	$space:1px;
	@include tuding_h_2cols($wrapping,$n1,$n2,$space,null,0,2);
	//@include tuding_h_2cols($wrapping,$v1,$v2,$space,'',0,-1);
	//@include tuding_1col('',1);
	//@include tuding_1col('',0);
}

@media screen and (max-width:700px) {
	//@include tuding_h_2cols($wrapping,$v1,$v2,$space,null,1,-1);
	//@include tuding_h_2cols($wrapping,$v1,$v2,$space,'',0,-1);
	//@include tuding_1col('',1);
	//@include tuding_1col('',0);
}

@media screen and (max-width:500px) {
	//@include tuding_h_2cols($wrapping,$v1,$v2,$space,null,1,-1);
	//@include tuding_h_2cols($wrapping,$v1,$v2,$space,'',0,-1);
	//@include tuding_1col('',1);
	@include tuding_1col('',0);
	@include tuding_width_1col();
}
#SOHUCS .section-cbox-w .cbox-block-w .block-post-w .post-login-w ul li {
float: left;
padding: 10px 10px 0 0 !important;
}
#SOHUCS .section-cbox-w .cbox-block-w .block-post-w .post-login-w ul li .login-wrap-w {
width: 117px;
height: 20px !important;
}
#SOHUCS .section-cbox-w .cbox-block-w .block-post-w .post-login-w ul li .login-wrap-w a {
width: 107px;
height: 20px !important;
padding: 0px !important;
display: block;
text-decoration: none;
}
#SOHUCS .section-cbox-w .cbox-block-w .block-post-w .post-login-w ul li .login-wrap-w span.wrap-icon-w {
display: inline-block;
width: 16px !important;
height: 16px !important;
cursor: pointer;
vertical-align: -10px;
}
#SOHUCS .post-login-w ul li .login-wrap-w span.icon30-sina-b,
#SOHUCS .section-cbox-w .cbox-block-w .block-post-w .post-login-w ul li .login-wrap-w span.icon30-qq-b,
#SOHUCS .section-cbox-w .cbox-block-w .block-post-w .post-login-w ul li .login-wrap-w span.icon30-renren-b, 
#SOHUCS .section-cbox-w .cbox-block-w .block-post-w .post-login-w ul li .login-wrap-w span.icon30-sohu-b,
#SOHUCS .section-cbox-w .cbox-block-w .block-post-w .post-login-w ul li .login-wrap-w span.icon30-visitor-b
{
background-image: url(../img/service-icons-color.png) !important;
background-repeat: no-repeat;
}
#SOHUCS .post-login-w ul li .login-wrap-w span.icon30-sina-b{
background-position: 0px 0px !important;
}
#SOHUCS .section-cbox-w .cbox-block-w .block-post-w .post-login-w ul li .login-wrap-w span.icon30-qq-b{
background-position: 0px -192px !important;
}
#SOHUCS .section-cbox-w .cbox-block-w .block-post-w .post-login-w ul li .login-wrap-w span.icon30-renren-b{
background-position: 0px -32px !important;
}
#SOHUCS .section-cbox-w .cbox-block-w .block-post-w .post-login-w ul li .login-wrap-w span.icon30-sohu-b{
background-position: 0px -16px !important;
}
#SOHUCS .section-cbox-w .cbox-block-w .block-post-w .post-login-w ul li .login-wrap-w span.icon30-visitor-b{
background-position: 0px -144px !important;
}
/* ######### ######### ######### bizdemo13302 ######### ######### ######### */
//bizdemo13302
#bhead{border-bottom:8px solid #C53C27;}
#bfoot{border-top:1px solid #CFCFCF;background-color:#F7F7F7;}
.crumbs{@extend %clearfix;text-align:right;font-weight:bold;font-family:Dotum; _font-family:SimSun,Kaiti_GB2312;;}
.crumbs .box-heading{display:none;}
/* LoVe/HAte(爱恨原则) */
.crumbs a:link, .crumbs a:visited, .crumbs a:hover, .crumbs a:active{color:#000;font-weight:normal;}
.crumbs a:link{}
.crumbs a:visited{}
.crumbs a:hover{}
.crumbs a:active{}
#home .crumbs{display:none;}
#bfoot .quick{position:relative;float:right;}
.colophon{@extend %ding;clear:both;}