.clearfix {
  *zoom: 1; }
  .clearfix:after {
    content: "";
    display: block;
    clear: both; }

.btnArea {
  margin: 1em 0;
  text-align: center;
  *zoom: 1; }
  .btnArea:after {
    content: "";
    display: block;
    clear: both; }

ul.pagenavplus {
  margin: 1em 0;
  text-align: center;
  *zoom: 1; }
  ul.pagenavplus:after {
    content: "";
    display: block;
    clear: both; }

ul.pagenavplus {
  clear: both;
  margin: 2em 0 !important;
  padding: 0 !important;
  background: #A0A0A0;
  height: 20px; }

ul.pagenavplus li {
  margin: 0;
  padding: 0;
  display: inline-block;
  background: #FFF;
  overflow: hidden; }

ul.pagenavplus li img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; }

ul.pagenavplus li a {
  display: inline-block;
  margin: 0 !important;
  padding: 0 !important;
  text-decoration: none; }

ul.pagenavplus li a:hover img {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
  filter: gray; }

ul.pagenavplus .pagenav-prev {
  float: left;
  list-style: none;
  padding-right: 1px !important; }

ul.pagenavplus .pagenav-next {
  float: right;
  list-style: none;
  padding-left: 1px !important; }
