@charset "UTF-8";
body{font-size:12px;line-height:20px;}
/* Tree Navigation */
.treemenu{position:relative;margin:1em 0;zoom:1}
.treemenu ul{list-style:none;margin:0;padding:0}
.treemenu ul ul{margin:0 0 0 -3px}
.treemenu li{position:relative;padding:0 0 0 22px;white-space:nowrap;line-height:20px;background:url(../img/folder_yellow/lineTree.gif) no-repeat 9px 0;*zoom:1}
.treemenu li.last{background-position:9px -1990px}
.treemenu li.active a{font-weight:bold;color:#333}
.treemenu li.active li a{font-weight:normal;color:#767676}
.treemenu a{text-decoration:none;color:#767676}
.treemenu a:hover,
.treemenu a:active,
.treemenu a:focus{text-decoration:underline}
.treemenu .treemenuToggle{position:absolute;top:0;left:0;width:19px;height:19px;padding:0;overflow:hidden;border:0;font-size:0;color:#fff;vertical-align:middle;text-indent:19px;*text-indent:0;background:transparent url(../img/folder_yellow/btnPlusMinus.gif) no-repeat;cursor:pointer}
.treemenu .treemenuToggle.plus{background-position:5px -15px}
.treemenu .treemenuToggle.minus{background-position:5px 5px}

.treemenu .treemenuToggle.plus+a{display:inline-block;margin-left:-4px;padding-left:26px;
background:url(../img/folder_yellow/tab_closed.gif) -16px 1px no-repeat;}
.treemenu .treemenuToggle.minus+a{display:inline-block;margin-left:-4px;padding-left:26px;
background:url(../img/folder_yellow/tab_opened.gif) -16px 1px no-repeat;}
