.clearfix {
  *zoom: 1; }
  .clearfix:after {
    content: "";
    display: block;
    clear: both; }

.btnArea {
  margin: 1em 0;
  text-align: center;
  *zoom: 1; }
  .btnArea:after {
    content: "";
    display: block;
    clear: both; }

ul.pagenavplus {
  margin: 1em 0;
  text-align: center;
  *zoom: 1; }
  ul.pagenavplus:after {
    content: "";
    display: block;
    clear: both; }

ul.pagenavplus {
  clear: both;
  margin: 0 !important;
  padding: 0 !important;
  background-color: gray;
  height: 20px; }

ul.pagenavplus li {
  margin: 0;
  padding: 0;
  display: inline-block;
  background-color: #FFF;
  overflow: hidden; }

ul.pagenavplus .pagenav-prev {
  float: left;
  list-style: none;
  padding-right: 1px; }

ul.pagenavplus .pagenav-next {
  float: right;
  list-style: none;
  padding-left: 1px; }

ul.pagenavplus li a {
  display: inline-block;
  margin: 0 !important;
  padding: 0 !important;
  text-decoration: none; }
