@charset "utf-8";
/* 步步街工作室 copyright(c)bubujie.net */
@import "F:/bubujie/css/layout";
@import "F:/bubujie/css/split";
@import "F:/bubujie/css/table";
@import "F:/bubujie/css/blueprint";
@import "F:/bubujie/css/emmet";
@import "F:/bubujie/css/base/product/listmain_1";
@import "./system_site";
@import "./general";
/* ######### ######### ######### 注释 ######### ######### ######### */
@include layout($layout:'h',$row:88%,$n1:200px,$n2:200px,$space:10px,$incInner:0,$v1:200px,$v2:200px);
@include split();
.items-more{clear:both;}
.button2-left .article, .button2-left .blank {
	background: url(../images_general/j_button2_blank.png) 100% 0 no-repeat;
}
#editor-xtd-buttons,.toggle-editor {
	padding: 5px;
	float:left;
}
/* Tooltips */
div.tip {
	float: left;
	background: #ffc;
	border: 1px solid #D4D5AA;
	padding: 5px;
	max-width: 200px;
}

div.tip .tip-title {
	padding: 0;
	margin: 0;
	font-size: 95%;
	font-weight: bold;
	margin-top: -15px;
	padding-top: 15px;
	padding-bottom: 5px;
	background: url(../images_general/selector-arrow.png) no-repeat;
}

div.tip .tip-text {
	font-size: 90%;
	margin: 0;
}
/* System Warning Messages */
#system-message dt.warning { display: none; }
#system-message dd.warning {  }
#system-message dd.warning ul { color: #93246F; background: #F2E3ED; border-top: 3px solid #93246F; border-bottom: 3px solid #93246F;}
/* ######### ######### ######### 注释 ######### ######### ######### */
body{@extend .ff_kr;}
/* LoVe/HAte(爱恨原则) */
a{text-decoration:none;color:#369;}
a:link, a:visited, a:hover, a:active{}
a:link{}
a:visited{}
a:hover{text-decoration:underline;}
a:active{}
table.category{
	@include table_wang(0.5em,silver);
	th{
		white-space:nowrap;
	}
	#categorylist_header_title, .list-title, .item-num{
		border-left:none;
	}
	.list-title,.item-title{
		width:100%;
	}
	.list-author, .list-hits, .list-edit{
		white-space:nowrap;
	}
}
table.tbl{
	@include table_tian(0.2em,silver);
	border-width:1px;
	tbody tr:nth-child(even) td, tbody tr.even td {background-color:#FDFDFD;}
}

/* ######### ######### ######### Pagination ######### ######### ######### */
.pagenav, .pagination .counter, .pagination ul{@extend %btnArea;}
.pagenavcounter, .pagenav, .pagination ul{margin:1em 0;padding:0;list-style:none;}
.pagenav .pagenav-prev{float:left;}
.pagenav .pagenav-next{float:right;}
.pagination .counter{float:right;}
.pagination ul li{display:inline-block;}
/* ######### ######### ######### Article index ######### ######### ######### */
#article-index { float:right; margin-left:1em; padding:1em 2em;border:1px solid #F2E2A1; background:#FFFCF0; font-size:1em; }/* 深橙色线条，浅橙色背景， 字号*/
#article-index ul { margin-left:0; padding-left:1em; } /* 去除列表左侧重排 */
#article-index ul li { list-style-image:url(../img/li_off.png); } /* 列表项图标 */
#article-index ul li a { font-weight:normal; color:#585858; } /*列表项字号颜色*/
#article-index ul li a.active { font-weight:bold; } /* 列表项当前项高亮 */
/* ######### ######### ######### 注释 ######### ######### ######### */
.categories-list li,.category-list li{overflow:hidden;}
#main ul.actions {
text-align: right;
padding: 0;
width: 100%;
margin: 0;
}



/* ######### ######### ######### bizdemo13302 ######### ######### ######### */
//bizdemo13302
#bhead{border-bottom:8px solid #C53C27;}
#bfoot{border-top:1px solid #CFCFCF;background-color:#F7F7F7;}
.crumbs{@extend %clearfix;text-align:right;font-weight:bold;font-family:Dotum; _font-family:SimSun,Kaiti_GB2312;;}
.crumbs .box-heading{display:none;}
/* LoVe/HAte(爱恨原则) */
.crumbs a:link, .crumbs a:visited, .crumbs a:hover, .crumbs a:active{color:#000;font-weight:normal;}
.crumbs a:link{}
.crumbs a:visited{}
.crumbs a:hover{}
.crumbs a:active{}
#home .crumbs{display:none;}
#bfoot .quick{position:relative;float:right;}
.colophon{@extend %nail;clear:both;}
@media screen and (max-width:1100px) {
	//@include layout_h_2cols($wrapping,$v1,$v2,$space,null,0,2);
	//@include layout_h_2cols($wrapping,$v1,$v2,$space,'',0,-1);
	//@include layout_1col('',1);
	//@include layout_1col('',0);
}

@media screen and (max-width:900px) {
	@include layout_h_2cols($row:96%,$n1:200px,$n2:null,$space:10px,$selector:'',$isInner:0,$cols:2);
	//@include layout_h_2cols($wrapping,$v1,$v2,$space,'',0,-1);
	//@include layout_1col('',1);
	//@include layout_1col('',0);
}

@media screen and (max-width:700px) {
	//@include layout_h_2cols($wrapping,$v1,$v2,$space,null,1,-1);
	//@include layout_h_2cols($wrapping,$v1,$v2,$space,'',0,-1);
	//@include layout_1col('',1);
	//@include layout_1col('',0);
}

@media screen and (max-width:500px) {
	@include layout_1col('',0);
	@include layout_width_1col();
	@include split_span_1col();
}
